---
import { projects } from '../../data/projects'
import Badge from '../Badge.astro'
import ProjectCard from '../ProjectCard.astro'
---

<section id="portfolio">
  <div class="px-6">
    <Badge class="bg-secondary text-dark text-medium">Portfolio</Badge>
    <h2 class="section-title">Así se ven mis soluciones</h2>
  </div>
  <div class="grid gap-12">
    {
      projects.map(project => 
        <ProjectCard
          title={project.name}
          projectType={project.projectType}
          description={project.description}
          goal={project.goal}
          images={project.images}
        />
      )
    }
  </div>
</section>
