---
import { projects } from '../../data/projects'
import Badge from '../Badge.astro'
import ProjectCard from '../ProjectCard.astro'
---

<section id="portfolio" class="lg:mb-50">
  <div class="px-6 lg:px-0">
    <Badge class="bg-secondary/20 text-secondary border-secondary">Portfolio</Badge>
    <h2 class="section-title">Así se ven mis trabajos</h2>
  </div>
  <div class="grid gap-12 lg:gap-19">
    {
      projects.map((project, index) => 
        <ProjectCard
          title={project.name}
          projectType={project.projectType}
          description={project.description}
          goal={project.goal}
          images={project.images}
          index={index}
        />
      )
    }
  </div>
</section>
