---
import Carrousel from './Carrousel.astro'
import Tag from './Tag.astro'

interface Props {
  title: string,
  projectType: string,
  description: string,
  goal: string,
  images: string[]
}

const { title, projectType, description, goal, images } = Astro.props
---

<article class="flex gap-2 flex-col">
  <Carrousel images={images} textAlt=`${title}` />
  <div class="px-6">
    <h3 class="font-work-sans text-2xl font-medium">{title}</h3>
    <h4 class="mb-1">
      <Tag class="italic text-secondary font-medium" tag="h4"
        ><span class="text-white">{projectType}</span></Tag
      >
    </h4>
    <p>
      <Tag class="text-accent text-sm" tag="p">
        <span class="text-white/70"
          >{description}</span
        >
      </Tag>
    </p>
    <br />
    <p>
      <Tag class="text-accent text-sm" tag="p">
        <span class="text-white/70"
          ><span class="text-highlight">Objetivo: </span>{goal}</span
        >
      </Tag>
    </p>
  </div>
</article>
